*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  /* color for main-PRIMARY TEXT */
  --main-color: #212121;
  /* color for SECONDARY TEXT */
  --sec-color: #757575;
  /* color for SELECTION -ACCENT TEXT */
  --act-color: #2196F3;
  /* color for BLACK backgroud*/
  --prim-white-background: #FFFFFF;
  --sec-grey-background-color: #E5E5E5;
  --thir-grey-white-background: #F5F4FA;
}

body {
  background-color: var(--prim-white-background);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #050303;
}

.section {
  padding-top: 94px;
}

.container {
  padding: 0 15px;
  width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
}

.hedden-elem {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

img {
  display: block;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .logo {
  margin-right: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31/26);
  letter-spacing: 0.03em;
  color: var(--act-color);
}

.logo__text--black {
  color: var(--main-color);
  display: inline-block;
  margin-right: 5px;
}

.logo__text--white {
  color: var(--prim-white-background);
}

.site-nav,
.site-nav__links,
.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__links,
.site-nav__links li a {
  margin-right: 50px;
  display: inline-block;
  padding: 30.5px 0;
  color: var(--main-color);
  font-weight: 500;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__links li:last-child a {
  margin-right: 0px;
}

.auth-nav__links {
  margin: 0 0 0 50px;
  color: var(--sec-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__links:hover,
.auth-nav__links:focus,
.site-nav__links li a:focus,
.site-nav__links li a:hover {
  color: var(--act-color);
}

.auth-nav__img--wider {
  width: 16px;
  height: 12px;
}

.auth-nav__img--higher {
  width: 10px;
  height: 16px;
}

.auth-nav__img {
  fill: currentColor;
}

.site-nav__item--active {
  position: relative;
}

.site-nav__item--active::after {
  position: absolute;
  bottom: -1px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--act-color);
  border-radius: 2px;
}/*# sourceMappingURL=main.css.map */