/* ===============RESET styles 🧐 starts here========== */


/* ===============RESET styles 🧐 ends here========== */



/* ===============Header styles 🧐 starts here========== */

/* ===============Header styles 🧐 ends here========== */

/* ===============Hero styles 🧐 starts here========== */

/* ===============Modal window styles 🧐 stars here========== */


/* ===============Modal window styles 🧐 ends here========== */
/* ===============Hero styles 🧐 ends here========== */

/* ===============Advantages styles 🧐 starts here========== */

/* ===============Advantages styles 🧐 ends here========== */

/* ===============DOING & team styles 🧐 starts here========== */

/* ===============DOING & team styles 🧐 ends here========== */

/* ===============Regular clients styles 🧐 starts here========== */
.clients {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
.clients__image {
    width: 106px;
    height: 60px;
 }
  .clients > .clients__item {
    margin-right: 30px;
    text-align: center;
  }
  .clients .clients__item:last-child {
    margin: 0;
  }
  .clients__item {
    flex-basis: calc(100% / 6)-30px;
    width: 170px;
    height: 92px;
  }
  .clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    background: var(--prim-white-background);
    fill: #afb1b8;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }

.clients__link:focus,
.clients__link:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.social__link--lghtbckgrnd {
    background: rgba(255, 255, 255, 0.1);
  }
/* ===============Regular clients styles 🧐 ends here========== */
/* ===============Portfolio styles 🧐 starts here========== */
.list-btn {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
}

.list-btn__item {
    padding: 6px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.list-btn__item--shadow {
    color: #FFFFFF;
    background: #2196F3;
    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.list-btn__item--shadow:hover,
.list-btn__item--shadow:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.list-btn__item--maincolor  {
    margin-left: 8px;   
    color: var(--main-color);
    background: #F5F4FA;
    border-radius: 4px;
    }

.portfolio-list__title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--main-color);
}  
.portfolio-list__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--sec-color);
}

.portfolio-list {
    padding: 0 15px;
    width: 1210px;
    outline: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
   
}
.portfolio-list__item {
     border: 1px solid #EEEEEE;
     transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}


.portfolio-list__item:focus,
.portfolio-list__item:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06),
             1px 4px 6px rgba(0, 0, 0, 0.16);
            }

h2.portfolio-list__title {
    margin-bottom: 4px;
}
.portfolio-list__link  {
    position: relative;
}

.portfolio-list__info {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.portfolio-list__kryak {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list__kryak::before {
    position: absolute;
    content: 'Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
    width: 370px;
    height: 294px;
    bottom: -100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
  }
   
  .portfolio-list__item:hover .portfolio-list__kryak:before {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-100%);
  }


.one,
.two,
.four,
.five,
.seven,
.eight {
    margin-right: 30px;
  
}

.one,
.two,
.three,
.four,
.five,
.six {
    margin-bottom: 30px;
  
}

/* .portfolio {
    padding-bottom: 94px;
} */
/* ===============Portfolio styles 🧐 ends here========== */

/* ===============Footer styles 🧐 starts here========== */
.page-footer {
    background: #2f303a;
    padding: 60px 0;
    max-width: 1600px;
    margin: 0px auto;
    margin-top: 94px;
    }

.container--flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap:wrap; */
}


.footer-contact {
    max-width: 230px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.footer-contact__item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact__item--white {
color: #FFFFFF;
}

.join__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--prim-white-background);
}
.join {
   
    margin-left: 70px;
    margin-right: 93px;
} 
/* ===============SIGN UP FORM in Footer styles 🧐 starts here========== */

.js-speaker-form {
    padding-top: 10px;
}

.sign-up-sending {
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--prim-white-background);
    margin-bottom: 15px;
}
.sing-up-input {
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0, 6);
    background: rgba(47, 48, 58, 1);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-signup {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    padding-right: 10px;
    background: #2196F3;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

    .sing-up-input:hover, 
    .sing-up-input:focus {

    border-color: var(--act-color);
    outline: var(--act-color);
    fill: var(--act-color);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-signup:hover,
.btn-signup:focus {

transition-property: background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-style {
    position: relative;
}

.signup-svg {
    position: absolute;
    bottom: -1px;
    transform: translateY(180%);
    right: 20px;
    bottom: 40px;
    fill: var(--prim-white-background);
    cursor: pointer;
    opacity: 1;
}

/* ===============Footer styles 🧐 ends here========== */